@font-face {
  font-family: Cup Cakes;
  src: url("../font/CupCakes.otf") format("opentype");
}

.btn-light {
  color: #000000;
}

button {
  color: #000000;
}

#mainNav .navbar-nav li a {
  color: #000000;
}

#logo {
  color: #e6357a;
  text-decoration: none;
  font-size: 35px;
  font-family: "Cup Cakes", "Lucida Sans", sans-serif;
}

#justify {
  text-align: justify;
  text-justify: inter-word;
}

#listHelp li {
  text-align: justify;
  text-justify: inter-word;
}

#help {
  background-color: #f2bdc5;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

header.masthead .col-md-3 p {
  text-align: justify;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 100px;
}

.contact {
  padding-top: 40px;
  padding-bottom: 50px;
}
